.table-end {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

body {
    background: white;
}

#page-wrapper {
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    justify-content: normal;
    background: transparent;
}

.footer {
    display: none;
}
