:root {
    --muted-color: #e1e1e1;
    --border-radius: 4px;
    --table-border-radius: 10px;
    --medium-table-row-min-height: 2.2em;
}

.black {
    color: black;
}

.table-end {
    border-bottom-left-radius: var(--table-border-radius);
    border-bottom-right-radius: var(--table-border-radius);
}

.logo-img {
    height: 46px;
}

.login-body {
    margin-top: 2rem;
}

#header .logged-in-user {
    display: block !important;
}

.footer {
    display: none;
}

.input-extension {
    display: flex;
    width: 100%;
    align-items: stretch;
    border-radius: var(--border-radius);
    margin: 5px 0 5px 0;
    border: 1px solid var(--muted-color);
}

.input-extension > input {
    border: none;
    width: 100%;
    margin: 0;
    border-radius: 0;
    z-index: 1;
}

.input-extension > :not(input) {
    padding: 0 10px 0 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background: var(--muted-color);
}

.input-extension > :first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.input-extension > :last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.line {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
    height: 1.5rem;
    width: 1.5rem;
}

input[type="checkbox"] + label {
    margin-left: .5rem;
}

@media (max-width: 767px) {
    .new-grades-table .table-end {
        border-radius: var(--table-border-radius);
        margin-top: .4rem;
        padding: 0 0 .3rem .5rem;
    }
}

@media (min-width: 768px) {
    .flex-table.header.first {
        min-height: var(--medium-table-row-min-height);
    }

    .table-end {
        min-height: var(--medium-table-row-min-height);
    }
}
