:root {
    --muted-color: #e1e1e1;
    --border-radius: 4px;
}

.black {
    color: black;
}

.table-end {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.logo-img {
    height: 46px;
}

.login-body {
    margin-top: 2rem;
}

#header .logged-in-user {
    display: block !important;
}

.footer {
    display: none;
}

.input-extension {
    display: flex;
    width: 100%;
    align-items: stretch;
    border-radius: var(--border-radius);
    margin: 5px 0 5px 0;
    border: 1px solid var(--muted-color);
}

.input-extension > input {
    border: none;
    width: 100%;
    margin: 0;
    border-radius: 0;
    z-index: 1;
}

.input-extension > :not(input) {
    padding: 0 10px 0 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    background: var(--muted-color);
}

.input-extension > :first-child {
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
}

.input-extension > :last-child {
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.line {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    -webkit-appearance: checkbox;
    height: 1.5rem;
    width: 1.5rem;
}

input[type="checkbox"] + label {
    margin-left: .5rem;
}

details[open] .content {
    animation: sweep ease-out .5s;
}

@keyframes sweep {
    0% {
        opacity: 0; transform: translateX(-40vw)
    }
    100% {
        opacity: 1; transform: translateX(0)
    }
}
